aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
.deps
*.dylib
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
m4
Makefile
Makefile.in
missing
*.o
*.so
stamp-h1
